{% extends 'dashboard/dash-base.html' %} {% block content %}
<div
  class="p-6 px-8 rounded-lg bg-gradient-to-b from-gray-200/20 via-gray-300 to-[#64748b]/20"
>
  <h1 class="font-bold text-[30px]">RoadMap</h1>
  <div class="relative max-w-[1200px] mx-auto after:content-[''] after:w-[6px] after:h-[100%]  after:top-0 after:left-[50%] after:bg-white after:absolute after:mx-3">
    {% for item in items %}
    <div class="flex px-[10px] py-[20px] w-full {% if forloop.counter|divisibleby:2 %}flex-row-reverse ml-8{% else %}flex-row{% endif %}">
      <div class="w-[50%] bg-white px-[40px] py-[30px] rounded-lg bg-white text-[15px] relative flex flex-col gap-4">
        <h2 class="font-bold text-[20px]">{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        <button class="btn btn-sm self-start" onclick="document.getElementById('modal_{{ forloop.counter }}').showModal()">More Details</button>
      </div>
      <dialog id="modal_{{ forloop.counter }}" class="modal">
        <div class="modal-box w-[800px] max-w-5xl">
          <h3 class="text-xl font-bold">{{item.title}}</h3>
          <div class="flex flex-col gap-4 mt-4">
            {% for subitem in item.steps%}
            <div>
              <p class="font-semibold">{{subitem.title}}</p>
              <p>{{subitem.description}}</p>

            </div>
            {% endfor %}

          </div>
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button, it will close the modal -->
              <button class="btn">Close</button>
            </form>
          </div>
        </div>
      </dialog>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
